<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lab2</title>

  <link rel="stylesheet" href="./view/css/mod.css">
</head>
<body>
  <div class="modPicker">
    <form action="./index.php" method="POST">
      <div class="queryMod">
        <h3>If you want get last data pick this mod</h3>
        <input name="mod" type="submit" value="Query">
      </div>
    </form>
    <form action="./index.php" method="POST">
      <div class="listMod">
        <h3>If you want see list of films pick this mod</h3>
        <input name="mod" type="submit" value="List">
      </div>
    </form>
  </div>
</body>
</html>
