<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>lab2</title>

  <link rel="stylesheet" href="./view/css/succes.css">
</head>
<body>
  <div class="message">
    <h2>Data added succesfuly</h2>
    <h4>You wil be redirected in 2 seconds</h6>
  </div>
  <script>
    // setTimeout(function(){
    //   document.location.href="pickMod.php";
    // },2000);
  </script>
</body>
</html>
